# Build
bin/
obj/
out/

# .NET artifacts
*.user
*.rsuser
*.suo
*.cache
*.dll
*.exe
*.pdb
*.mdb
*.log

# Publish output
publish/

# VS / Rider / VS Code
.vs/
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# Environment / secrets
appsettings.Development.json
appsettings.Local.json

# Others
*.DS_Store
Thumbs.db

# Rider
/ReSharper*/
